@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

:root {
  --bask: 'Libre Baskerville'
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header{
  background-image: url(../img/bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
}

.logo::after {
  content: url(../img/logo.png);
}

.header__nav {
  height: 70px;
  background: #FCEFE4;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  position: relative;
}

.menu {
  position: absolute;
  height: 490px;
  background: rgba(241, 216, 216, 0.5);
  display: flex;
  align-items: center;
  padding: 15px;
  backdrop-filter: blur(10px);
  transform: translateY(-110%);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu:checked ~ .menu{
  transform: translateY(6%);
}

#menu{
  position: absolute;
  opacity: 0;
}

.menu__list {
  width: 236px;
  height: 302px;
  background: #FFF6F2;
  border-radius: 20px;
  margin-right: 50px;
}

.menu__block {
  display: flex;
  justify-content: space-evenly;
  
}

.menu__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 826px;
}

.menu__content-text{
  font-weight: 600;
  color: #8E8D6F;
  font-size: 18px;
}
.akmal__title{
  margin-top: 80px;
  font-family: var(--bask);
  font-weight: 700;
  font-size: 48px;
}
.akmal__img{
  margin-top: 40px;
  margin-bottom: 50px;
}
.title-two{
  margin-top: 0;
}
.ramka{
 
  display: flex;
  align-items: center;
}
.ramka__img{
  width: 45px;
  height: 44px;
}
.akmal__item{
  width: 284px;
  height: 427px;
  background: red;
  position: relative;
}
.natasha__img{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  
  
}
.akmal__btn{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18px;
  left: 10px;
}
.natasha__btn{
  width: 102px;
  height: 17px;
  background: violet;
  margin-bottom: 3px;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.btn__green{
  background: greenyellow;
}
.btn__orange{
  background: orange;
}
.btn__yellow{
  background: yellow;
  color: #7EA048;
  position:absolute;
  right: 10px;
  top: 235px;
}
.natasha__title{
  padding-left: 10px;
  margin-top: 9px;
  font-weight: 500;
  font-size: 16px;
  
 
}
.akmal__bootom{
  display: flex;
  margin-top: 49px;
}
.akmal__end-text{
  font-weight: 500;
  font-size: 13px;
  color: #8E8D6F;
 
}
.text-fz-16{
  font-size: 16px;
}
.akmal__button{
  display: flex;
  justify-content: center;
  align-items: center;
  br20
  width: 140px;
  height: 40px;
  background: #D7537A;
  color: white;
  font-weight: 600;
  font-size: 18px;
}